output_features
DisPredict2_PSEE/DisPredict_v2.0/Software/Output/log
DisPredict2_PSEE/DisPredict_v2.0/Software/Output/prediction
DisPredict2_PSEE/DisPredict_v2.0/Software/Input/FASTA
DisPredict2_PSEE/DisPredict_v2.0/Software/Features
SPOT-1D-Single/results